.c1 {
  background-color: #a784c4;
  border: solid 1px rgb(5, 5, 5);
  color: #fff;
  text-align: center;
}

.c2{
  background-color:#a784c4;
  border: solid 1px rgb(0, 0, 0);
  color: #fff;
  text-align: left;

}

body
{
  background-color:rgb(182, 125, 211);
}


.ion-text-center{
  color: black;
}

.a1{
  color: black;
}


.a2{
  color: black;
}

.b1{
 --background: black;


}

.b2{
  --background: black;
 }

 .b3{
  --background: black;
 }

 .b4{
  --background: black;
 }

 .d1{
   color: black;
 }

 .d2{
  color: black;
}

.d3{
  color: black;
}

.m1{
  background-color:#a784c4;
  border: solid 1px rgb(0, 0, 0);
}

.m2{
  color: black;
}

.m3{
  color: black;
}

.z1{
  --background: #a784c4;
  color: black;
}

.z2{
  --background: #a784c4;
  color: black;
}

.z3{
  --background: #a784c4;
  color: black;
}

.z4{
  --background: #a784c4;
  color: black;
}

.z5{
  --background: #a784c4;
  color: black;
}

.g1{
  border: solid 1px rgb(5, 5, 5);
}

.g2{
  --background: #a784c4;
  color: black;
}

.g3{
  --background: #a784c4;
  color: black;
  border: solid 1px rgb(5, 5, 5);
}

.t1{
  font-family:'Courier New', Courier, monospace;
  color: black;
  font-weight: bold;
}

.t2{
  border: solid 1px rgb(0, 0, 0);
}

.y1{
  border: solid 1px rgb(0, 0, 0);
}








